<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://criterionmed.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>criterionmed.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>criterionmed</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$criterionmed</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CriterionMed_NetConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=NORTHWEST1\CRIT1;Initial Catalog=CriterionCRM_MSCRM;Persist Security Info=True;User ID=sa;Password=deadman1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ARCHTOP5\SQLEXPRESS;Initial Catalog=CriterionMed_Net;User ID=sa;Password=Password1!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CriterionMed_NetConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ARCHTOP5\SQLEXPRESS;Initial Catalog=CriterionMed_Net;User ID=sa;Password=Password1!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=NORTHWEST1\CRIT1;Initial Catalog=CriterionCRM_MSCRM;Persist Security Info=True;User ID=sa;Password=deadman1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CriterionMedCom_Web.Models.ApplicationDbContext, CriterionMedCom_Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CriterionMed_NetConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=NORTHWEST1\CRIT1;Initial Catalog=CriterionCRM_MSCRM;Persist Security Info=True;User ID=sa;Password=deadman1!</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=NORTHWEST1\CRIT1;Initial Catalog=CriterionCRM_MSCRM;Persist Security Info=True;User ID=sa;Password=deadman1!</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>